{% extends '::base.html.twig' %}

{% block content %}

    {% image '@RopiCMSBundle/Resources/public/img/ropi_map.png'  output="img/ropi_map.png" %}
        <img class ="img100" id="ropi" src="{{ asset_url }}" style="width:100%;" usemap="#ropiMap" />
    {% endimage %}

    <map name="ropiMap">
        <area shape="rect" data-name="equation,all" coords="51,78,379,218" href="#" />
        <area shape="circle" data-name="commercants,all" coords="547,137,94" href="#" />
        <area shape="circle" data-name="producteurs,all" coords="765,194,92" href="#"/>
        <area shape="circle" data-name="citoyens,all" coords="599,409,114" href="#"/>
        <area shape="circle" data-name="circulation,all" coords="639,238,39" href="#" />
        <area shape="circle" data-name="comptoir,all" coords="318,381,88" href="#" />
        <area shape="circle" data-name="fondsdegarantie,all" coords="116,422,88" href="#" />
        <area shape="circle" data-name="banque,all" coords="827,396,53" href="#" />
        <area shape="circle" data-name="autreProducteurs,all" coords="798,502,59" href="#" />
    </map>

{% endblock %}

{% block javascripts %}
    {% javascripts '@RopiCMSBundle/Resources/public/js/init_map.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headJavascripts %}
    {{ parent() }}
    {% javascripts '@RopiCMSBundle/Resources/public/js/jquery.imagemapster.js'
                   '@RopiCMSBundle/Resources/public/js/map_resize.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block rightColumn %}
    <div id="carte">
        <h2>Les commercants Ropi</h2>
        {{ google_map(map) }}
    </div>
    <div id="legende">
        <h1 id="ropi-caption-header">Le Ropi, en pratique</h1>
        <h3 id="ropi-caption-text">Le Ropi, la monnaie complémentaire à Mons et ses environs.</h3>
    </div>

{% endblock %}

