{% extends '::baseAdmin.html.twig' %}

{% block content %}

    {% set classStatique = 'Ropi\\CMSBundle\\Entity\\PageStatique' %}

    <h1>Gestion des pages disponibles</h1>

    <h2>
        Actions d'administration possibles
    </h2>
    <p>

        <a href ="{{ path("CMS_categorie_create") }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter une catégorie</a>
        <br /><a href ="{{ path("CMS_static_create") }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter une page</a>

    </p>
    <h2>Structure du site </h2>
    {% set sizeCategorie = categories|length %}
    {% for categorie in categories %}
        {% set sizePage = categorie.pages|length %}
        <h2>
            <a href = "{{ path('CMS_categorie_update', {'id': categorie.id} ) }}" >{{ categorie.nom|capitalize }}</a>
            {% if loop.index != 1 %}
                <a href="{{ path('CMS_categories_up', {'id': categorie.id} ) }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
                {% endif %}
                {% if loop.index != sizeCategorie %}
                <a href="{{ path('CMS_categories_down', {'id': categorie.id} ) }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                {% endif %}
            <a href="{{ path('CMS_categorie_remove', {'id': categorie.id} ) }} "><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </h2>

        {% if categorie.pages|length > 0 %}
            <table class="table table-responsive"> 
                <thead>
                    <tr>
                        <th>Titre de la page</th>
                        <th>Activée ?</th>
                        <th>Actions possibles</th>
                    </tr>
                </thead>
            {% else %}
                <p>Il n'y a pas de pages dans cette catégorie</p>
            {% endif %}
            {% for page in categorie.pages %}
                <tr>
                    <td>
                        {% if page is not instanceof(classStatique) %}
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  
                        {% endif %}
                        {{ page.titreMenu }}
                    </td>
                    <td>
                        <a href="{{ path("CMS_page_inverse", {'id': page.id }) }}">
                            {% if page.isActive %}

                                {% if date(page.publicationDate) <= date() %}
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Sera publiée le {{ page.publicationDate|date('d/m/Y')}}
                                {% endif %}
                            {% else %}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {% if loop.index != 1 %}
                            <a href="{{ path('CMS_pages_up', { 'id': page.id }) }}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
                            {% else %} 
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>

                        {% endif %}
                        {% if loop.index != sizePage %}
                            <a href="{{ path('CMS_pages_down', { 'id': page.id }) }}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                            {% else %} 
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        {% endif %}
                        {% if date(page.publicationDate) <= date() and page.isActive %}
                            <a href="{% if page.parametres %}{{ path(page.route, page.parametres) }}{% else %}{{ path(page.route) }}{% endif %}" target="_blank" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true" value="Test"></span></a>
                            {% else %}
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        {% endif %}
                        {% if page is instanceof(classStatique) %}
                            <a href="{{ path("CMS_static_update", {'id': page.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a href="{{ path("CMS_page_remove", {'id': page.id}) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% else %}
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}