{% extends "::base.html.twig" %}

{% block title %}Inscription {% endblock %}


{% block content %}
    <h1> Inscription sur le site: </h1>

    {{ form_start(form) }}

    {% if form.vars.errors | length > 0 %}
        <div class="alert alert-danger" role="alert">{{ form_errors(form) }}</div>
    {% endif %}

    <h2>Votre identité</h2>

    <p>
        {{ form_row(form.Personne.nom) }}
        {{ form_row(form.Personne.prenom) }}
        {{ form_row(form.Personne.dateNaissance) }}

        {{ form_widget(form.Personne.volonteMembre) }}
        {{ form_label(form.Personne.volonteMembre, ["Je souhaite me faire membre effectif de l'ASBL Ropi - ", parametres.getValueOf("cotisationUsagerEuro"), "€ ou ", parametres.getValueOf("cotisationUsagerRopi"), "R" ]|join)}}
        {{ form_errors(form.Personne.volonteMembre) }}
    </p>
    <br\>
    {% for contact in form.Personne.contacts %}
        {{ form_label(contact, contact.vars.value.typeContact.type|capitalize) }}
        {{ form_errors(contact) }}
        {{ form_widget(contact) }}
    {% endfor %}

    <h2>Adresse</h2>
    <p>
        {% for adresse in form.Personne.adresses %}
            {{  form_row(adresse.rue) }}
            {{  form_row(adresse.numero) }}
            {{  form_row( adresse.complement) }}
            {{  form_row( adresse.typeAdresse) }}
            {{  form_row( adresse.ville.codePostal) }}
            {{  form_row( adresse.ville.ville) }}
            {{  form_row( adresse.ville.pays) }}

            {{ form_errors(adresse) }}
        {% endfor %}
    </p>
    <h2>Identifiant de connexion</h2>
    <p>
        {{form_row(form.username)}}
        {{form_row(form.motDePasse)}}

        {{form_row(form._token)}}
        {{form_row(form.Enregistrer)}}
    </p>



{% endblock %}
