{% extends '::email.html.twig' %}

{% block content %}
    {% set cotisation =  parametres.getValueOf('cotisationUsagerEuro') %}
    <h1>Inscription sur le site du Ropi</h1>
    <p>Merci de vous être inscrit sur le site de Ropi ASBL !<br /></p>

    <p>Votre login :  {{ login }} <br /></p>

    {% if volonteMembre %}
        <p>Vous vous êtes inscrit en tant que membre usager effectif. Nous vous en remercions car ainsi vous financez l'asbl et participez à sa démocratie interne.</p>
        <p>Afin de confirmer votre demande d'adhésion, merci de verser le montant de {{ cotisation }}€ sur le compte de l'ASBL</p>
        <p>
        <ul>
            <li>
                Compte courant Ropi ASBL : {{ parametres.getValueOf('compteCourant') }}
            </li>
            <li>
                Ropi ASBL - {{ parametres.getValueOf('adresseSiegeSocial') }}
            </li>
            <li>
                Montant : {{ cotisation }}€
            </li>
            <li>
                Communication : Cotisation Membre {{ nom }} {{ prenom }}
            </li>
        </ul>
        </p>
        <p>Si vous souhaitez payer votre cotisation en Ropi ({{ parametres.getValueOf('cotisationUsagerRopi') }}R), merci de prendre contact avec l'ASBL <br /></p>
    {% else %}
        <p>Vous vous êtes inscrit en tant que membre usager sympathisant.<br /></p>    
    {% endif %}


    <h2>Validation de l'inscription</h2>
    <p>Afin de valider votre inscription, merci de cliquer sur le lien suivant:</p>
    <p> <a href="{{url("Ropi_Key",{"id":id,'key':cle}) }}">{{url("Ropi_Key",{"id":id,'key':cle}) }}</a><br /></p>
    
    <p>Si vous désirez créer un commerce, rendez-vous sur "Mon espace Ropi" -> "Ajouter mon commerce"</p>
    <p>A très bientôt sur www.ropi.be</p>
    <p>L'équipe du Ropi</p>
{% endblock %}
