{% extends '::base.html.twig' %}

{% block content %}
    <h1>Commande de Ropi en ligne</h1>
    <p>Pour commander des ropis en ligne vous devez d'abord être inscrit comme membre de l'asbl (lien vers le formulaire de demande d'adhésion). Si vous êtes déjà membre, vous pouvez commander des Ropi en complétant le formulaire ci-dessous</p>
    {{ form_start(form) }}

    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger" role="alert">Votre commande contient des erreures<br />{{ form_errors(form) }}</div>
    {% endif %}


    <div class="panel panel-default">

        <div class="panel-heading">Liste des billets disponibles</div>

        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Quantité</th>
                <th>Articles</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for formac in form.articlesQuantite %}
                <tr>
                    <td width="40%"><img class="col-sm-8 img100" src="{{ vich_uploader_asset(formac.article.vars.data, 'imageFile') }}" alt="{{ formac.article.vars.value.nom }}" /></td>
                    <td style="vertical-align: middle">
                        {{ form_widget(formac.quantite) }}
                        {{ form_errors(formac.quantite) }}
                    </td>
                    <td style="vertical-align: middle"><p>{{ formac.article.vars.value.nom |capitalize }}</p></td>
                    <td style="vertical-align: middle">{{ formac.article.vars.value.prix }} €</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Lieu de livraison</h2>
    <p>Veuillez choisir l'endroit où vous souhaitez être livré</p>
    <p>Vous pouvez etre livré à domicile, moyennant des frais. Il est égallement possible d'etre livré dans un commerce participant, sans frais.</p>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail" id="commercant">
                <div class="caption" >
                    <h2>Chez un COMMERCANT</h2>
                    <p>Sans frais</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail" id="moi">
                <div class="caption">
                    <h2>Chez MOI</h2>
                    <p>Moyennant participation</p>
                </div>
            </div>
        </div>
    </div>
    <div id="result"></div>
    <br /><br />
    <div id="result2"></div>
    <br /><br />

    {{ form_row(form._token) }}

    {{ form_row(form.send) }}

    </form>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% javascripts '@RopiCommandeBundle/Resources/public/js/formCommande.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headJavascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endblock %}