<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% stylesheets '../app/Resources/public/css/facture.css' filter='cssrewrite' output='css/facture.css' %}
            <link rel="stylesheet" href="{{ absolute_url(asset_url) }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block headJavascripts %}
    {% endblock %}
</head>
<body>
<div class="containerHeader">
    <span class="header">
        <img src="{{ app.request.getSchemeAndHttpHost()  }}/img/ropi_Logo_R.png" id="logo" />
        <p id="logoTXT">Le Ropi, Payez en<br> argent content!</p>
    </span>
    <span class="clientInfo">
    <p >{{ commande.client.nom|capitalize }} {{ commande.client.prenom|capitalize }}</p>
        {% if commande.modeDeLivraison.aDomicile %}
            <p>{{ commande.adresseDeLivraison.rue }}, {{ commande.adresseDeLivraison.numero }}</p>
            {% if commande.adresseDeLivraison.complement is not null %}<p style="text-align: right">{{ commande.adresseDeLivraison.complement }}</p>{% endif %}
        <p>{{ commande.adresseDeLivraison.ville.codePostal }} {{ commande.adresseDeLivraison.ville.ville }}</p>
        {% endif %}

        <p class="U G">Votre commande du {{ commande.createdAt|date("d/m/Y") }}</p>
    </span>
</div>


{#Livrée le 12/05/2018#}
<div class="title">
    <h1>Accusé de réception de votre commande {{ commande.refCommande }}</h1>

</div>
<div class="ref">
    <p><span class="U">Correspondant :</span> Laurent CARDON – <span style="color:blue">laurent.cardon@ropi.be</span> –Administrateur.</p>
    <p><span class="U">Nos références :</span> Commande {{ commande.refCommande }}</p>

</div>
<div class="commade">
    <h2>Décharge</h2>
    <p>Je  soussigné {{ commande.client.prenom|capitalize }} {{ commande.client.nom|capitalize }} atteste  avoir  reçus  dans  son  intégralité  ma  commande {{ commande.refCommande }} qui contient, comme  suit :</p>
    <table style="width: 100%;">
        <thead>
        <tr>

            <th>Quantité</th>
            <th>Billet</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% set prixCommande = 0 %}
        {% for articleQuantite in commande.articlesQuantite %}
            <tr>
                <td width="10%">{{ articleQuantite.quantite }}</td>
                <td width="25%">{{ articleQuantite.article.nom }}</td>
                <td width="29%">{{ articleQuantite.article.prix * articleQuantite.quantite }} Ropi</td>
                {% set prixCommande = prixCommande + articleQuantite.article.prix * articleQuantite.quantite %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Soit un total de {{ prixCommande }} Ropi</p>
    <p>En  signant  ce  document,  contre  réception  de  ma  commande, j'atteste  avoir  vérifié  et j'accepte ma  commande,  sans  recours  possible.</p>
    <h2>Si je ne suis pas d'accord avec le contenu de ma commande</h2>
    <p><ul>
        <li>Je  fais  constater  au  commerçant ou au livreur le  contenu  de  l'enveloppe  et je  ne  signe pas  ce  document.</li>
        <li>Je  laisse  l'enveloppe  au  commerçant ou au livreur.</li>
        <li>Je préviens l'ASBL ROPI par mail ou téléphone
            <ul><li>info@ropi.be</li><li>065/680.214</li></ul>
        </li>
    </ul></p>
    <h2>Signature</h2>
    <br \>
    <br \>
    <br \>
    <br \>
    <br \>
    <br \>
    <br \>
    <br \>
    <br \>
    <p>Fait à Mons, le .......................................</p>
    <h2>{{ commande.client.prenom|capitalize }} {{ commande.client.nom|capitalize }} </h2>
</div>
<div class="footer">
    <hr>
    <div class="left">
        ASBL Ropi - Rue de Ghlin 24 à 7012 Jemappes<br>
        Numéro BCE: 0506.894.878 - RPM Mons
    </div>
    <div class="right">
        IBAN: BE30 5230 8052 3011 - BIC: TRIO BE BB<br>
        <span style="color: blue;">www.ropi.be</span> - info@ropi.be
    </div>
</div>
</body>
</html>
