{% extends '::base.html.twig' %}

{% block content %}
    <div id="global">
        <div id="gauche"><img id="logoCommerce" class="col-sm-12" src="{{ vich_uploader_asset(commerce, 'imageFile') }}" alt="{{ commerce.nom }}" /></div>
        <div id="droite"><h1>{{ commerce.nom }}</h1></div>
    </div>
    {{ commerce.description|raw }}
    <br \><br \><br \><br \>

    <div class="row">
        {% for adresse in commerce.adresses %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Adresse du commerce</h2>
                        <p>{{ adresse.rue }} {{ adresse.complement }} {{ adresse.numero }}<br \>
                            {{ adresse.ville.codePostal }} {{ adresse.ville.ville }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if commerce.depot %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Le truc en plus </h2>
                        <p>Ce commerce accepte la livraison gratuite de Ropi chez lui</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Collège</h2>
                    <p>{{ commerce.college.nom }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}