{% extends '::base.html.twig' %}

{% block content %}
    <h1>Formulaire d'inscription</h1>
    <p>Votre nouveau commerce est automatiquement lié au membre usager utilisé pour vous authentifier sur le site.</p>
    <p>Dès que votre commerce aura été ajouté (bouton en bas du formulaire), il deviendra membre effectif prestataire (appartenance au collège n°1) ou membre effectif associatif (appartenance au collège n°2). Cependant un représentant de l'asbl Ropi prendra contact avec vous afin de vérifier l’éligibilité de votre commerce, de répondre à vos éventuelles questions et de signer la convention.</p>
    <p> Après paiement de la cotisation, l'inscription de votre commerce sera alors validée et la page de votre commerce sera rendu visible sur le site internet</p>
    <p>
        Montant des cotisations en fonctions des collèges :
        <ul>
            <li>Collège des prestataires : {{ parametres.getValueOf('cotisationPrestataireEuro') }}€ ou {{ parametres.getValueOf('cotisationPrestataireRopi') }}R</li>
            <li>Collège des associations : {{ parametres.getValueOf('cotisationAssociationEuro') }}€ ou {{ parametres.getValueOf('cotisationAssociationRopi') }}R</li>
        </ul>
    </p>
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init({})}}
{% endblock %}