{% extends "::baseAdmin.html.twig" %}

{% block title %}
    Les news{% endblock %}

  {% block content %}

      <a href="{{ path('iola_corporation_news_add') }}" class="btn btn-primary" role="button">Ajouter une news</a>
      <div class="table-responsive">

  <table class="table table-hover">
    <thead>
    <tr>
        <td>id</td>
        <td>Titre</td>
        <td>auteur</td>
        <td>visible</td>
        <td>action</td>
    </tr>
    </thead>
    <tbody>

      {% for new in news %}
            <tr>
                <td>{{ new.id }}</td>
                <td>{{ new.titre }}</td>
                <td>{% if new.user.username is defined  %}
                       {{  new.user.username }}
                    {% else %}
                        <span class="badge">utilisateur inconnu</span>

                    {% endif %}
                    </td>
                {% if new.enable  %}
                    <td class="success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                {% else %}
                    <td class="danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                {% endif %}

                <td>
                    <a href=" {{ path('iola_corporation_news_edit',{'news': new.id}) }} "><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a href=""onclick="ConfirmDialog('{{url('iola_corporation_news_delete',{'news': new.id}) }}' );"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>
          {% endfor %}
    </tbody>
      </table>
      </div>



  {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@IolaCorporationNewsBundle/Resources/public/js/alert.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

