<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' output='css/ropi.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-error" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% block header %}coucou{% endblock %}
{% block menu %}
</nav> <nav class="navbar navbar-default ">
                            
                            <div class="col-md-9 col-lg-9 col-xs-12">
                            <div class="container"> 
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        
                                    </button>
                                   
                                   <a class="navbar-brand men" href="#">Ropi</a> 
                                    
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                   
                                      {#{ np_menu_render('breadcrumb',{'currentAsLink':false}) }#}
                                         
                                           {#{ knp_menu_render('RopiCMSBundle:Builder:createBreadcrumbMenu') }#}
                                           {{ knp_menu_render('main') }}
                                      
                                 
                                  
                                </div><!--/.nav-collapse -->
                            </div>
                                </div>
                        </nav>


    
    
    
                   
{% endblock %}
{% block left %}{% endblock %}
{% block content %}{% endblock %}
{% block right %}{% endblock %}
{% block footCopyright %}{% endblock %}
{% block footNav %}{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
