{% extends '::email.html.twig' %}

{% block content %}
    <h1>Nouveau commerçant inscrit</h1>
    <p>L'utilisateur {{ personne.prenom }} {{ personne.nom }} vient de créer le commerce {{ commerce.nom }}</p>
    <p>
        Coordonnées du contact :
        <ul>
            {% for contact in personne.contacts %}
                <li>{{ contact.typeContact }} : {{ contact.valeur }}</li>
            {% endfor %}
        </ul>

        Adresse(s) du commerce :
        {% for adresse in commerce.adresses %}
            <li>{{ adresse.rue }} {{ adresse.complement }} {{ adresse.numero }} - {{ adresse.ville.codePostal }} {{ adresse.ville.ville }}</li>
        {% endfor %}
    </p>

    <p>
        Peux-tu prendre contact avec lui dès que possible afin de :
        <ul>
            <li>s'assurer qu'il a pris connaissances de la [la charte](https://github.com/RopiMons/RopiDocs/raw/master/Charte/RopiCharte.pdf), [du règlement d'ordre intérieur](https://github.com/RopiMons/RopiDocs/raw/master/ROI/RopiROI.pdf) et de [la clef d'adhésion](https://github.com/RopiMons/RopiDocs/raw/master/ROI/RopiCleAdhesion.pdf). Ces documents lui ont été transmis automatiquement lors de la création de son commerce.</li>
            <li>lui faire signer [la convention](https://github.com/RopiMons/RopiDocs/raw/master/Conventions/RopiAdhesionMembre1%262.pdf) entre le prestataire et l'asbl Ropi.</li>
        </ul>
    </p>

    <p>
        Une fois la convention signée, n'oublie pas de valider le commerce via l'[interface de validation d'un commerce](http://dev.ropi.be/my/commerce/validate) du site web.

        Si tu as un soucis, contacte *[emailAdmin]
        <br>
        Ropieur'Bot
    </p>
{%  endblock %}





